################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Supercontrol.Web.Dashboard/.vs/Supercontrol.Web.Dashboard.slnx
/Supercontrol.Web.Dashboard/.vs/Supercontrol.Web.Dashboard/bin/
/Supercontrol.Web.Dashboard/.vs/Supercontrol.Web.Dashboard/obj/